body{
	font-family: BinnerD;
	line-height:1.6;
	font-size: 20px;
    background-image: url("Imagens e Vídeos/wallform.png");
	border-left: none;
	
}
.formcenter form{
	position: absolute;
	left: -100px;
	top: 100px;
	width:320px;
	font-size: 29px;
	font-family: "Gill Sans", sans-serif;
	background-color: rgba(0,0,0, 0.4);
	height: 350px;
}
.formcenter h2{
	position: absolute;
	left:880px;
	top:200px;
	font-size: 40px;
	font-family: "Gill Sans", sans-serif;
	color: white;
	text-shadow: black 0.1em 0.07em 0.09em;
	height: 400px;
	
}
.formercenter h1,form{
	border: 3px solid black;
}
.formcenter h1{
	position: absolute;
	left:866px;
	top:170px;
	font-size: 50px;
	font-family: "Gill Sans", sans-serif;
	color: white;
	text-shadow: black 0.1em 0.1em 0.1em;
	
}
#mandar{
	position: absolute;
	left:122px;
	top:304px;
	font-size: 22px;
}
.paginainicial img{
	height:100px;
	width:120px;
	left:20px;
	position:absolute;
	top:15px;
}
.paginainicial:hover img{
	transform: scale(1.1,1.1);
	transition: all 0.4s cubic-bezier(0.165,0.84,0.44,1);
	-webkit-filter: drop-shadow(0px 0px 25px rgba(0 0 0 / 90%)); 
        filter: drop-shadow(0px 0px 25px rgba(0 0 0 / 90%));

}
#mandar:hover{
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0 0 0 / 90%)); 
        filter: drop-shadow(0px 0px 8px rgba(0 0 0 / 90%));
		transition: all 0.4s cubic-bezier(0.165,0.84,0.44,1);
}